{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h1 class="mb-4" style="color: #013880">Data Konsultasi</h1>
  <p class="lead">Silahkan Berkonsultasi</p>
  <a href="/mahasiswa" class="btn btn-primary mb-3">Input Data Konsultasi</a>

  <!-- Form Pencarian dan Filter -->
  <form action="/list_konsultasi" method="POST" class="mb-4">
    <div class="form-row">
      <div class="col-md-6 mb-2">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="inputSearch"
            name="search"
            placeholder="Cari berdasarkan Waktu" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
              Cari
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <select id="inputOrder" class="form-control" name="order">
          <option selected disabled>Pilih Urutan</option>
          <option value="ascending">Ascending</option>
          <option value="descending">Descending</option>
        </select>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary btn-block" type="submit">Filter</button>
      </div>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nama</th>
          <th>Dosen</th>
          <th>Waktu Konsultasi</th>
          <th>Laporan</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for k in data_konsultasi %}
        <tr>
          <td>{{ k.nama }}</td>
          <td>{{ k.dosen }}</td>
          <td>{{ k.waktu }}</td>
          <td>{{ k.laporan }}</td>
          <td>
            <a
              href="{{ url_for('delete_konsultasi', id=k._id) }}"
              class="btn btn-danger btn-sm"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
